.sidebar
{
  height: 100%;
  width: 100px;
  top: 0;
  left: 0;
  background-color: #232a40;
  overflow-x: hidden;
  padding-top: 20px;
  z-index: 1;
  position: fixed;
  border: 2px solid white;
}

.sidebar #main-button
{
  width: 70px;
  height: 70px;
  background-color: #232a40;
  border: none;
  margin-top: 3%;
}

.sidebar img
{
  width: 70px;
  height: 70px;
}

.sidebar-footer
{
    vertical-align: bottom;
}